<!DOCTYPE html>
<html lang="en">
<head>
    <title>VK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="0; URL={{ redirect_url }}#access_token={{ access_token }}&amp;expires_in={{ expires_in }}&amp;user_id={{ user_id }}">
    <script>location.href='{{ redirect_url }}#access_token={{ access_token }}&expires_in={{ expires_in }}&user_id={{ user_id }}';</script>
</head>
<body>Переадресация...</body>
</html>